<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-row">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ExpatHelpNL
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="https://learn.microsoft.com/aspnet/core/" target="_blank">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>
    </nav>
</div>

