@inject Services.PostService PostService
@page "/"

<PageTitle>Home</PageTitle>

<div>@((MarkupString)(PostHtml ?? string.Empty))</div>

@code {
    private string? PostHtml;

    protected override void OnParametersSet() {
        PostHtml = PostService.GetPostHtml("home");
    }
}